body{
    background-color: #000;
}
.nav_container ul li{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.nav_btn{
    font-weight: 500;
}

.nav_container ul li::before{
    transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #1EB25E;
}
.nav_container ul .active::before{
    width: 70%;
    bottom: -3px;
}
/* Landing Area */
.landing_text h1{   
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 72px;
}

.landing_text p{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.landing_subtext{
    line-height: 28px;
}
@media screen and (max-width: 599px){
    .landing_text h1{
        line-height: 40px;
    }
    .landing_text p{
        font-size: 15px;
    }
}

/* About us */
.abt_title{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 60px;
}
.abt-subtitle{
    line-height: 28px;
}
@media screen and (max-width: 599px){
    .abt_title{
        font-size: 40px;
    }
}



/* Service Area */
.services_title{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 60px;
}
.services-subtitle{
    line-height: 28px;
}
.main_services div h5{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: left;
}
@media screen and (max-width: 599px){
    .services_title{
        font-size: 40px;
    }
}


/* Latest Work Area*/

.latest_work_title{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 60px;
}
@media screen and (max-width: 599px){
    .latest_work_title{
        font-size: 40px;
    }
}


/* End Latest work */

/* Testimonial Area */
.testimonial_title{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

/* mobile_menu */
.mobile_menu li{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

/* hamburger_menu Area */
.hamburger_menu{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}
.hamburger_menu_top,
.hamburger_menu_middle,
.hamburger_menu_bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger_menu_middle{
    transform: translateY(7px)
}
.hamburger_menu_bottom{
    transform: translateY(14px)   
}

.open_hamburger{
    transform: rotate(90deg);
    transform: translateY(0);
}
.open_hamburger .hamburger_menu_top{
    transform: rotate(45deg) translateY(6px) translate(6px)
}
.open_hamburger .hamburger_menu_middle{
    display: none;
}

.open_hamburger .hamburger_menu_bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px)
}


/* Swiper Slider */

.swiper{
    width: 100% !important;
    
}
  .swiper-slide {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;

  }
  .swiper-wrapper{
      z-index: 0 !important;
  }
  .swiper-pagination-bullet {
    width: 30px !important;
    background: #fff !important;
    border-radius: 0px !important;
      height: 2px !important;
      margin-top: 50px !important;
  }

  .swiper-pagination-bullet-active{
      width: 30px !important;
      background: #fff !important;
      border-radius: 0px !important;
        height: 2px !important;
  }
.swiper-button-next{
    top: -100px !important;
    position: inherit !important;
   
}
.swiper-button-next::after{
    font-size: 20px !important;
}
  /* End Swiper Area */
/* Blog */

.blog{
    font-family: 'Rubik', sans-serif;   
}

/* End of Blog */
  /* Subscribe  */
  .subscribe{
    font-family: 'Rubik', sans-serif;      

  }

  /* Footer Area */
  .footer{
    font-family: 'Rubik', sans-serif;      
  }
  .socials i{
      color: #1EB25E;
      font-size: 35px;
  }

  @media screen and (max-width: 599px){
    .socials i{
        font-size: 20px;
    }
    
  }
  /* End Footer */